.wrapper#section
  .main
    %header.header
      .header__title
        -# = link_to "管理者画面", mypage_products_path , class: "header__title--text"
    .secondary 
      .title
        %h1.index_title
          Kengo Matsuno Plofile 
      .time
        .view_clock#clock
      %nav.nav
        %ul.wrap
          %li.inline-block
            = link_to "PROFILE", profile_products_path ,class: "word"
          %li.inline-block
            = link_to "SKILL", skill_products_path ,class: "word"
          %li.inline-block
            = link_to "WORKS", works_products_path ,class: "word"
          %li.inline-block
            = link_to "CONTACT", contact_products_path ,class: "word"
    %footer.footer
      .footer__title
        = link_to "2020 製作者：松野健吾" ,'#', class: "footer__title--text"



