.works_wrapper
  .works_main
    .works_main_title 
      %h1.works_main_title
        works
    .all_works
      .works
        .works_title
          《作品タイトル》
        .works_title_name 
          自動配色選択コーディネートアプリ Tetrads(テトラード)
        .works_image
          = image_tag asset_path("work1.png"),class: "works_picture" ,alt: "works"
        .works_url_title
          《URL》
        .works_url
          %a{href: "https://kengo-matsuno333.herokuapp.com/", class: "works_word"} https://kengo-matsuno333.herokuapp.com/
        .works_note
          ※ URLのクリックでページに飛べます
        .works_github_title
          《git hub》
        .works_github
          %a{href: "https://github.com/kengo922/fuku", class: "works_word"} https://github.com/kengo922/fuku
        .works_note
          ※ URLのクリックでページに飛べます
        .works_explanationb_title
          《説明》
        .works_explanation#explanation_sub
          自身の持っている服の配色を登録する事で、ボタン一つでランダムに配色コーディネートを決定してくれるアプリを作成しました。
      
      .works
        .works_title
          《作品タイトル》
        .works_title_name 
          Railsチュートリアル
        .works_image
          = image_tag asset_path("rails_tutorial.png"),class: "works_picture" ,alt: "works"
        .works_url_title
          《URL》
        .works_url
          %a{href: "https://rails-tutorial-sample-kengo.herokuapp.com/", class: "works_word"} https://kengo-matsuno333.herokuapp.com/
        .works_note
          ※ URLのクリックでページに飛べます
        .works_github_title
          《git hub》
        .works_github
          %a{href: "https://github.com/kengo922/sample_app", class: "works_word"} https://github.com/kengo922/fuku
        .works_note
          ※ URLのクリックでページに飛べます
        .works_explanationb_title
          《説明》
        .works_explanation#explanation_sub
          ruby on railsの知識をより深く身に着けるため、Railsチュートリアルを行いました。

      .works
        .works_title
          《作品タイトル》
        .works_title_name 
          自己紹介サイト
        .works_image
          = image_tag asset_path("profile.png"),class: "works_picture" ,alt: "works"
        .works_github_title
          《git hub》
        .works_github
          %a{href: "https://github.com/kengo922/profile", class: "works_word"} https://github.com/kengo922/profile
        .works_note
          ※ URLのクリックでページに飛べます
        .works_explanationb_title
          《説明》
        .works_explanation#explanation_sub
          私のことを知って頂くための自己紹介サイトを作成しました！
      
      .works
        .works_title
          《作品タイトル》
        .works_title_name 
          フリマサイト (３人１チームのアジャイル開発で制作)
        .works_image
          = image_tag asset_path("furima_app.png"),class: "works_picture" ,alt: "works"
        .works_url_title
          《URL》
        .works_url
          %a{href: "http://18.178.152.156/", class: "works_word"} http://18.178.152.156/
        .works_note
          ※ URLのクリックでページに飛べます
        .works_basic_title
          《ベイシック認証》
        .works_pass
          ユーザー名: kengo  ,  パスワード: s72ifea3
        .works_github_title
          《git hub》
        .works_github
          %a{href: "https://github.com/kengo922/free_app", class: "works_word"} https://github.com/kengo922/free_app
        .works_note
          ※ URLのクリックでページに飛べます
        .works_explanationb_title
          《説明》
        .works_explanation#explanation_sub
          模擬ですがフリーマーケットサイトを作成しました。約1ヶ月間、3人チームでアジャイル開発を行いました。
      
      .works
        .works_title
          《作品タイトル》
        .works_title_name 
          chat-space
        .works_image
          = image_tag asset_path("chat-space.gif"),class: "works_picture" ,alt: "works"
        .works_url_title
          《URL》
        .works_url
          %a{href: "http://3.20.161.142", class: "works_word"} http://3.20.161.142
        .works_note
          ※ URLのクリックでページに飛べます
        .works_github_title
          《git hub》
        .works_github
          %a{href: "https://github.com/kengo922/chat-space", class: "works_word"} https://github.com/kengo922/chat-space
        .works_note
          ※ URLのクリックでページに飛べます
        .works_explanationb_title
          《説明》
        .works_explanation#explanation_sub
          非同期、自動更新を組み込んだ、チャットアプリを開発しました。


      .works_back
        = link_to "戻る", root_path ,class: "bottun"